:local {
  .swapForm {
    border: 4px solid #445;
    border-radius: 7px;
    width: 450px;
    padding: 0 10px 20px 10px;
    background: white;

    @media(max-width: 479px) {
      width: 100%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input {
      width: 270px;
      text-align: right;
      border: 2px solid #001;
      border-radius: 7px;
      padding: 5px;
      font-size: 20px;
      background-color: white;

      &:focus {
        outline: none;
        border-color: #45f;
      }

      @media(max-width: 479px) {
        width: 96%;
      }
    }

    .tokenSelect {
      display: inline-block;
      input {
        width: 115px;
        margin-right: 0;
        text-align: left;
        color: black;
        cursor: pointer;
      }
      &::after {
        position: relative;
        left: -25px;
        top: -3px;
        content: '\2304';
        font-size: 20px;
        cursor: pointer;
      }
      @media(max-width: 479px) {
        width: 100%;
        margin-bottom: 23px;
        input {
          width: 96%;
        }
        &::after {
          display: none;
        }
      }
    }

    .tokenSelectDisabled {
      input {
        cursor: default;
        background-color: #e8e8f0;
      }
      &::after {
        cursor: default;
      }
    }

    .tokenAmountContainer {
      background-color: #e0e0e8;
      padding: 10px;
      border-radius: 7px;
    }

    .arrow {
      margin: -5px 0 -7px 0;
      text-align: center;
    }

    .arrow::before {
      content: '\2b07';
      font-size: 20px;
      font-weight: bold;
      background-color: #e0e0e8;
      padding: 0 4px;
      border: 2px solid white;
      border-radius: 21px;
    }

    p {
      font-weight: bold;
    }
  }

  .token0balance {
    text-align: right;
  }

  .swapButton {
    width: 100%;
    margin-top: 20px;
  }

  .swapButtonDisabled {
    background-color: #e8e8f0;
    cursor: default !important;
  }

  .inputChanging {
    background-color: #e8e8f0 !important;
  }

  .inputChangingSpinner {
    display: inline-block;
    position: absolute;
    transform: translate(-20px, 10px);
  }

  .tokenRequester {
    width: 350px;
    height: 500px;

    @media (max-width: 479px) {
      width: 90vw;
    }

    p {
      font-weight: bold;
    }
  }
}
