:global {
  .button {
    border: 2px solid #445;
    border-radius: 7px;
    padding: 5px 10px;
    background: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;

    &:active {
      border-color: #667;
      color: #667;
      transform: translate(-1px, 1px);
    }
  }

  .hidden {
    visibility: hidden;
  }
}

:local {
  .web3connectButton {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .mainContent {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .appBackground {
    position: relative;
  }

  .appBackground:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('./dotted_background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .appContent {
    position: relative;
    height: 100%;
  }

  .cautionModalContent {
    display: block;
    position: relative;
    width: 700px;
    margin: auto;
    top: 75px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 7px;
    background: white;
    overflow: auto;
    outline: none;
    padding: 20px;
    @media (max-width: 799px) {
      width: 92vw;
    }
  }
}
